Package: enigma2-plugin-extensions-e2m3u2bouquet
Version: 0.8.6
Description: Multi Provider IPTV Bouquet Maker For Enigma2
Section: extra
Priority: optional
Maintainer: Doug Mackay, Dave Sully, Kittybua
Architecture: all
OE: enigma2-plugin-extensions-e2m3u2bouquet
Depends: python3-image, python3-imaging, python3-requests
Recommends: enigma2-plugin-extensions-epgimport
Homepage: https://www.suls.co.uk/enigma2-iptv-bouquets-with-epg/
